---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma8
    image: ami-017cf0c1f7146f117
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
  - name: alma9
    image: ami-0b1e78fb6f0d36eb3
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-10
    image: ami-0770134595d82d48f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-11
    image: ami-0f63aa666117f7cc1
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12
    image: ami-058bd2d568351da34
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-1804
    image: ami-055744c75048d8296
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004
    image: ami-0a6e38961e6e621b0
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86
    image: ami-0fc5d935ebf8bc3bc
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-aarch
    image: ami-016485166ec7fa705
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amzn2
    image: ami-00f529903bcc02204
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/xvda
        ebs:
          volume_size: 5
          delete_on_termination: true
  - name: al2023
    image: ami-0c42bca0188f767b2
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-x86
  #    boot_wait_seconds: 180
  #    image: ami-03dbb661dc3a9b6a5
  #    instance_type: ${INSTANCE_TYPE_X86}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-aarch
  #    boot_wait_seconds: 180
  #    image: ami-0fbdd12bd5a9c2e6f
  #    instance_type: ${INSTANCE_TYPE_AARCH}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky8
    image: ami-093bfdaaa5ea85b41
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky9
    image: ami-07d75f492ac3a326f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-smoke-ebpf
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  additional_files_or_dirs:
    - ../../resources/tests/integration/basic
