---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma8
    image: ami-017cf0c1f7146f117
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
  - name: alma9
    image: ami-06bc84fafec254e1d
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-10
    image: ami-041540a5c191757a0
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-11
    image: ami-0ec10ca60f05f0df9
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12
    image: ami-01ae074e29e7f8fd0
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-1804
    image: ami-055744c75048d8296
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004
    image: ami-0b14bf54c9cef7492
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86
    image: ami-0408adfcef670a71e
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-aarch
    image: ami-06908478b0577ac8a
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amzn2
    image: ami-0bef6cc322bfff646
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: al2023
    image: ami-07d77b1e82b231201
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-x86
  #    boot_wait_seconds: 180
  #    image: ami-03dbb661dc3a9b6a5
  #    instance_type: ${INSTANCE_TYPE_X86}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-aarch
  #    boot_wait_seconds: 180
  #    image: ami-0fbdd12bd5a9c2e6f
  #    instance_type: ${INSTANCE_TYPE_AARCH}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky8
    image: ami-0e63078428ec6a2e1
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky9
    image: ami-032d067e7f73e7519
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-smoke-ebpf
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  additional_files_or_dirs:
    - ../../resources/tests/integration/basic
