---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma-8-x86_64
    image: ami-049bf0b955fb246d4
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
  - name: alma-9-x86_64
    image: ami-07bc349330a94a4e3
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
  - name: debian-11-x86_64
    image: ami-0d44e049cfbdfa91f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12-x86_64
    image: ami-0a962bf3d88232ebf
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004-x86_64
    image: ami-029bdee89471523f0
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86_64
    image: ami-0e783882a19958fff
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-arm64
    image: ami-0feba2720136a0493
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amazon-2023-x86_64
    image: ami-0f2eb5749e5a5699e
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky-9-x86_64
    image: ami-021a1f96fec61f4e9
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-smoke-universal-ebpf
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  additional_files_or_dirs:
    - ../../resources/tests/integration/basic
