---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma8
    image: ami-0ebb096e453d2fb20
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: alma9
    image: ami-07bc349330a94a4e3
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-10
    image: ami-0770134595d82d48f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-11
    image: ami-0133fb3dded749b65
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12
    image: ami-058bd2d568351da34
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-1804
    image: ami-055744c75048d8296
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004
    image: ami-06aa3f7caf3a30282
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86
    image: ami-0e783882a19958fff
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-aarch
    image: ami-050079b0e5a5b70da
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amzn2
    image: ami-03bd01bf2139c515c
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/xvda
        ebs:
          volume_size: 5
          delete_on_termination: true
  - name: al2023
    image: ami-0d4df6583e939a1c4
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-x86
  #    boot_wait_seconds: 180
  #    image: ami-03dbb661dc3a9b6a5
  #    instance_type: ${INSTANCE_TYPE_X86}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-aarch
  #    boot_wait_seconds: 180
  #    image: ami-0fbdd12bd5a9c2e6f
  #    instance_type: ${INSTANCE_TYPE_AARCH}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky8
    image: ami-093bfdaaa5ea85b41
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky9
    image: ami-07d75f492ac3a326f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: centos7
    image: ami-0aedf6b1cb669b4c7
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-uninstall-clean-all
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
