---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma-8-x86_64
    image: ami-0f384fefb431fbea2
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
  - name: alma-9-x86_64
    image: ami-097220738e8385b2f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
  - name: debian-10-x86_64
    image: ami-0e1e938b3f38e7558
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-11-x86_64
    image: ami-041e541d4e97f8f15
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12-x86_64
    image: ami-02269465a4b1f7ef5
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    #  - name: ubuntu-1804-x86_64
    #    image: ami-055744c75048d8296
    #    instance_type: ${INSTANCE_TYPE_X86}
    #    region: ${REGION}
    #    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004-x86_64
    image: ami-06f8dce63a6b60467
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86_64
    image: ami-0e001c9271cf7f3b9
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-amd64
    image: ami-01ec7354bd709968b
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amazon-2-x86_64
    image: ami-0fc4f55157317ed4e
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/xvda
        ebs:
          volume_size: 5
          delete_on_termination: true
          volume_type: gp3
  - name: amazon-2023-x86_64
    image: ami-05f216df7591e93b1
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-x86
  #    boot_wait_seconds: 180
  #    image: ami-03dbb661dc3a9b6a5
  #    instance_type: ${INSTANCE_TYPE_X86}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  #  - name: centos8-aarch
  #    boot_wait_seconds: 180
  #    image: ami-0fbdd12bd5a9c2e6f
  #    instance_type: ${INSTANCE_TYPE_AARCH}
  #    region: ${REGION}
  #    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky8
    image: ami-093bfdaaa5ea85b41
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
  - name: rocky-9-x86_64
    image: ami-021a1f96fec61f4e9
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 30
          delete_on_termination: true
          volume_type: gp3
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-smoke-legacy-ebpf
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  additional_files_or_dirs:
    - ../../resources/tests/integration/basic
