---
dependency:
  name: galaxy
driver:
  name: ec2
lint: |
  set -e
  ansible-lint tasks/agent
  yamllint tasks/agent
platforms:
  - name: alma-8-x86_64
    image: ami-049bf0b955fb246d4
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: alma-9-x86_64
    image: ami-07bc349330a94a4e3
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-10-x86_64
    image: ami-0e1e938b3f38e7558
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-11-x86_64
    image: ami-0fd320e6b2de9e34a
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: debian-12-x86_64
    image: ami-02269465a4b1f7ef5
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-1804-x86_64
    image: ami-055744c75048d8296
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2004-x86_64
    image: ami-0f8b8f874036055b1
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-x86_64
    image: ami-03ec1e27f78616cec
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: ubuntu-2204-arm64
    image: ami-01ec7354bd709968b
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amazon-2-x86_64
    image: ami-01cddae4ac93d8ba3
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: amazon-2023-x86_64
    image: ami-0d4d826d70d17642f
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: centos8-x86_64
    boot_wait_seconds: 180
    image: ami-03dbb661dc3a9b6a5
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: centos8-arm64
    boot_wait_seconds: 180
    image: ami-0fbdd12bd5a9c2e6f
    instance_type: ${INSTANCE_TYPE_AARCH}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky8-x86_64
    image: ami-093bfdaaa5ea85b41
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
  - name: rocky-9-x86_64
    image: ami-021a1f96fec61f4e9
    instance_type: ${INSTANCE_TYPE_X86}
    region: ${REGION}
    vpc_subnet_id: ${VPC_SUBNET_ID}
provisioner:
  lint:
    name: ansible-lint
  name: ansible
  playbooks:
    create: ../resources/playbooks/create.yml
    destroy: ../resources/playbooks/destroy.yml
    prepare: ../resources/playbooks/prepare.yml
scenario:
  name: agent-smoke-legacy-ebpf
  create_sequence:
    - create
    - prepare
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  additional_files_or_dirs:
    - ../../resources/tests/integration/basic
